<div class="content-wrapper">
       <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-4">
            <!-- Default box -->
            <div class="card card-info">
                <div class="card-header">
                  <h3 class="card-title">Content Creator</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                <!-- form start -->
                <form [formGroup] = "formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
                  <div class="row">
                    <div class="col-sm-6">
                      <!-- text input -->
                      <div class="form-group">
                        <label>Select language</label>
                          <select 
                          (change)="changelanguage($event)"
                            class="form-control">
                           <option class="dropdown-item" disabled selected value="">Select Language</option>
                           <option 
                            *ngFor="let mes of languages;let x = index"
                            [ngValue]="mes.id"
                           class="dropdown-item">{{mes.language}}</option>
                        </select>
                         
                        <span class="text-danger" *ngIf="submitted &&  optlanguage?.invalid" >Language is required</span>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Select intent</label>
                        <select 
                          (change)="changeIntent($event)"
                            class="form-control">
                           <option class="dropdown-item" disabled selected value="">Select Intent</option>
                           <option 
                            *ngFor="let int of intents;let x = index"
                            [ngValue]="int.id"
                           class="dropdown-item">{{int.intent}}</option>
                        </select>
                        <span class="text-danger"  *ngIf="submitted &&  optintent?.invalid">Intent is required</span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <label>Your ask For</label>
                      <select 
                      (change)="changeContent($event)"
                            class="form-control">
                           <option class="dropdown-item" disabled selected value="">Select Content Type</option>
                           <option 
                            *ngFor="let cont of intentcontents;let x = index"
                            [ngValue]="cont.id"
                           class="dropdown-item">{{cont.IntentContent}}</option>
                        </select>
                      
                        <span class="text-danger" *ngIf="submitted && optcontent?.errors?.['required']">Please select type of ask</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <label>what content?</label>
                      <textarea class="form-control" rows="3" placeholder="Enter your ask..." name = "question" formControlName="question"></textarea>
                      <span class="text-danger" *ngIf="submitted && question?.errors?.['required']">Please enter your ask</span>
                    </div>  
                  </div>
                  <div class="row">
                    <div class="col-sm-4" style="margin-top: 4px;">
                      <button type="submit" class="btn btn-block bg-gradient-info" [disabled]="disabledSubmit" >Submit
                      </button>
                    </div>
                    <div class="col-sm-8">

                    </div>
                  </div>
                </form>
              </div>
              </div>
          </div>
          <div class="col-8">
            <div class="col-md-12">
              <div class="card card-outline card-info">
                <div class="card-header">
                  <h3 class="card-title">
                    
                  </h3>
                </div>
                <!-- /.card-hzzeader -->
                <div class="card-body">
                  <textarea   id="textResult" rows="30" cols="100" >              
                  </textarea>
                 
                </div>
                <div class="card-footer">
                  <div class="row">
                      <div class="col-sm-4">
                        <button (click)="copyLongText()" value="click to copy" class="btn btn-block bg-gradient-info" [disabled]="!disabledClipboard">Copy to Clipboard
                        </button>
                      </div>
                  </div>
                  
                 
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>